body {
  background-image: url(../img/produto.jpg); /* Substitua 'background.jpg' pelo caminho da sua imagem de fundo */
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #f8f9fa; /* Cor de backup para quando a imagem não carregar */
  color: white;

}

h1{
  text-align: center;
  color: black;
}

label{
  color:#0f1011 ;
}
.btn{
  justify-content: center;
}

.subContainer{
  background-color: rgba(253, 253, 253, 0.2) !important; /* Fundo mais transparente */
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  
}

.carousel-item {
  width: 413px; /* Largura fixa desejada para os slides */
  height: 413px; /* Altura fixa desejada para os slides */
  overflow: hidden;
}


