body{
    background-image: url(../img/fundo.jpg)
}

.container{
    padding: 20px;
}

.logo {
    max-width: 150px; /* Define a largura máxima da imagem */
}

.meu-card{
    margin-bottom: 1rem;
}

.card-text{
    color: blue;
}