/* Estilos globais */

body {
    background-image: url(../img/fundo.jpg); /* Substitua 'background.jpg' pelo caminho da sua imagem de fundo */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;
    margin-top: 0;
}

.container {
    background-color: rgba(255, 255, 255, 0.8); /* Adicione transparência ao valor RGB do branco */
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
}

/* Estilos para informações do produto */

.stars-highlight {
    font-weight: bold;
}

.text-warning {
    color: yellow;
}

.text-primary {
    font-weight: bold;
    font-size: 1.2em;
    color: green !important;
}

.btn-primary {
    background-color: #007bff;
    color: #fff;
    border: none;
}

.btn-primary:hover {
    background-color: green;
}

/* Estilos para o carrossel de imagens */

.carousel-inner img {
    object-fit: cover;
    max-height: 100%;
    width: 100%;
}

/* Outros estilos */

h2 {
    color: #000000;
}

p {
    color: #474747;
    margin-bottom: 10px;
}

.descricao {
    color: #474747;
}
