<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/CadastroCliente.css">
    <title>Tela de Cadastro</title>
</head>
<body>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header d-flex justify-content-center">
                    <h5 class="card-title">Cadastro</h5>
                </div>
                <div class="card-body">
                    <form>

                        <div class="form-group">
                            <input type="hidden" id="id" name="id" th:if="${cliente}" th:value="${cliente.id}">
                        </div>
                        <div class="mb-3">
                            <label for="nomeCompleto" class="form-label">Nome Completo</label>
                            <input type="text" class="form-control" id="nomeCompleto" name="nomeCompleto"
                                   required th:value="${cliente?.getNomeCompleto()}">
                        </div>
                        <div class="mb-3">
                            <label for="email" class="form-label">Email</label>
                            <input type="email" class="form-control" id="email" placeholder="Seu Email"
                                   required th:value="${cliente?.getEmail()}">
                        </div>
                        <div class="mb-3">
                            <label for="senha" class="form-label">Senha</label>
                            <input type="password" class="form-control" id="senha" placeholder="Senha"
                                   required>
                        </div>
                        <div class="mb-3">
                            <label for="confirmarSenha" class="form-label">Confirmar Senha</label>
                            <input type="password" class="form-control" id="confirmarSenha" placeholder="Confirme a senha" required>
                        </div>
                        <div class="mb-3">
                            <label for="cpf" class="form-label">CPF</label>
                            <input type="text" class="form-control" id="cpf" placeholder="Seu CPF"
                                   required th:value="${cliente?.getCpf()}">
                        </div>
                        <div class="mb-3">
                            <label for="dataNascimento" class="form-label">Data de Nascimento</label>
                            <input type="date" class="form-control" id="dataNascimento"
                                   required th:value="${cliente?.getDataNascimento()}">
                        </div>
                        <div class="mb-3">
                            <label for="genero" class="form-label">Gênero</label>
                            <select class="form-select" id="genero" required>
                                <option value="masculino">Masculino</option>
                                <option value="feminino">Feminino</option>
                            </select>
                        </div>
                        <div class="d-flex justify-content-center">
                            <button type="button" class="btn btn-primary btn-lg col-6" id="btnCadastrar">Cadastrar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script>

<script>
    function validarCPF(cpf) {
        cpf = cpf.replace(/[^\d]+/g, '');
        if (cpf == '') return false;
        if (
            cpf.length != 11 ||
            cpf == '00000000000' ||
            cpf == '11111111111' ||
            cpf == '22222222222' ||
            cpf == '33333333333' ||
            cpf == '44444444444' ||
            cpf == '55555555555' ||
            cpf == '66666666666' ||
            cpf == '77777777777' ||
            cpf == '88888888888' ||
            cpf == '99999999999'
        ) {
            return false;
        }
        var add = 0;
        for (var i = 0; i < 9; i++) add += parseInt(cpf.charAt(i)) * (10 - i);
        var rev = 11 - (add % 11);
        if (rev == 10 || rev == 11) rev = 0;
        if (rev != parseInt(cpf.charAt(9))) return false;
        add = 0;
        for (var i = 0; i < 10; i++) add += parseInt(cpf.charAt(i)) * (11 - i);
        rev = 11 - (add % 11);
        if (rev == 10 || rev == 11) rev = 0;
        if (rev != parseInt(cpf.charAt(10))) return false;
        return true;
    }

    function validarEmail(email) {
        var regex = /^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/;
        return regex.test(email);
    }

    $(document).ready(function() {
        $('#btnCadastrar').click(function() {
            var nomeCompleto = $('#nomeCompleto').val();
            var email = $('#email').val();
            var senha = $('#senha').val();
            var confirmarSenha = $('#confirmarSenha').val();
            var cpf = $('#cpf').val();
            var dataNascimento = $('#dataNascimento').val();

            if (nomeCompleto === '' || email === '' || cpf === '' || dataNascimento === '') {
                alert('Apenas o campo complemento não é obrigatorio!.');
                return;
            }

            if(senha != confirmarSenha){
                alert('As senhas devem ser iguais!');
                return;
            }

            if (!validarEmail(email)) {
                alert('E-mail inválido. Por favor, verifique o e-mail informado.');
                return;
            }

            if (!validarCPF(cpf)) {
                alert('CPF inválido. Por favor, verifique o CPF informado.');
                return;
            }

            alert(nomeCompleto);

            var usuario = {
                nomeCompleto: nomeCompleto,
                email: email,
                cpf: cpf,
                senha: senha,
                genero: $('#genero').val(),
                dataNascimento: dataNascimento
            };

            if (window.location.pathname.startsWith('/editarCli')) {


            var urlAtual = window.location.href;
            var partesDaUrl = urlAtual.split('/');
            var idUsuario = partesDaUrl[partesDaUrl.length - 1];

            console.log('ID do usuário:', idUsuario);

            url = '/editarCliente/' + idUsuario;
            type = 'PUT'
            acao = 'Atualizado'
            enderecoHref = '/home';
        } else {
            url = '/CadastrarCliente';
            type = 'POST'
            acao = 'Cadastrado';
            enderecoHref = '/Endereco';

        }

            $.ajax({
                type: type,
                url: url,
                contentType: 'application/json',
                data: JSON.stringify(usuario),
                success: function(data) {
                    alert(acao + "" + data.id);
                    console.log('Cadastrado com sucesso:', data);
                    window.location.href = enderecoHref;
                },
                error: function(xhr, status, error) {
                    if (xhr.status === 400) {
                        var errorMessage = xhr.responseText;
                        alert('Erro : ' + errorMessage);
                    } else {
                        alert('Erro : ' + error);
                    }
                    console.error('Erro :', error);
                }
            });
    });
});
</script>
</body>
</html>
