<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulário de Produto</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" th:href="@{/css/CadastroDeProdutos.css}">
    <link rel="stylesheet" href="../static/css/CadastroDeProdutos.css">
</head>

<body>
    <div class="container mt-5">
        <h1>Formulário de Produto</h1>
        <form id="formularioProduto" enctype="multipart/form-data">
            <div class="subContainer">
            <div class="form-row">
                <div class="form-group">
                    <input type="hidden" id="id" name="id" th:if="${produto}" th:value="${produto.id}">
                </div>
                <div class="form-group col-md-9">
                    <label for="nome">Nome do Produto</label>
                    <input type="text" class="form-control" id="nome" maxlength="200" required th:value="${produto?.getNome()}" >
                </div>
                <div class="form-group col-md-3">
                    <label for="avaliacao">Avaliação</label>
                    <input type="number" class="form-control" id="avaliacao" min="1" max="5" step="0.5" required th:value="${produto?.getAvaliacao()}">
                </div>
            </div>
            <div class="form-group">
                <label for="descricao">Descrição Detalhada</label>

                <input class="form-control" id="descricao" rows="3" maxlength="2000" required th:value="${produto?.getDescricao()}">
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="preco">Preço do Produto</label>
                    <input type="number" class="form-control" id="preco" step=".01" required th:value="${produto?.getPreco()}">
                </div>
                <div class="form-group col-md-6">
                    <label for="estoque">Quantidade em Estoque</label>
                    <input type="number" class="form-control" id="estoque" required th:value="${produto?.getQuantidade()}">
                </div>
            </div>
        </div>
            <div class="form-group">
                <label for="file">Upload de Imagem</label>
                <input type="file" class="form-control-file" name="file" id="file">
            </div>

            <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-primary btn-lg mr-3" id="btnSalvar">Salvar</button>
                <button  type="reset" class="btn btn-secondary btn-lg">Cancelar</button>
            </div>
        </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <script>
        $(document).ready(function () {
            $('#btnSalvar').click(function () {
                var nome = $('#nome').val();
                var avaliacao = $('#avaliacao').val();
                var descricao = $('#descricao').val();
                var preco = $('#preco').val();
                var quantidade = $('#estoque').val();
                var imagem = $('#file')[0].files[0];
;

                if (nome === '' || avaliacao === '' || descricao === '' || preco === '' || quantidade === '' || !imagem) {
                    alert('Por favor, preencha todos os campos e adicione ao menos uma imagem.');
                    return;
                }

                var produto = {
                    nome: nome,
                    avaliacao: avaliacao,
                    descricao: descricao,
                    preco: preco,
                    quantidade: quantidade
                };
                if (window.location.pathname.startsWith('/editarProduto/')) {
                    var urlAtual = window.location.href;
                    var partesDaUrl = urlAtual.split('/');
                    var idProduto = partesDaUrl[partesDaUrl.length - 1];

                    console.log('ID do produto:', idProduto);

                    url = '/produtoEditado/' + idProduto;
                    type = 'PUT'
                    acao = 'Atualizado'
                }
                else {
                    url = '/cadastrarProduto';
                    type = 'POST'
                    acao = 'Cadastrado';
                }

                $.ajax({
                    type:type,
                    url:url,
                    contentType:'application/json',
                    data: JSON.stringify(produto),
                    success: function(data){
                        
                        alert(acao + 'com sucesso');
                        console.log(acao + 'com sucesso: ', data);
                        
                        window.location.href = '/listaDeProduto';
                    },
                    error: function(xhr, status, error){
                        if (xhr.status === 400) {
                            var errorMessage = xhr.responseText;
                            alert('Erro: ' + errorMessage);
                        }else{
                            alert('Erro : ' + error);
                        }
                        console.error('Erro :', error);
                    } 
                });
            });
    });

    </script>
</body>

</html>