<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Usuário</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" th:href="@{/css/Cadastro.css}">
    <link rel="stylesheet" href="../static/css/Cadastro.css">
</head>
<body>
<div class="container mt-5">
    <div class="card">
        <div class="card-header bg-primary text-white">
            <h2 class="text-center">Cadastro de Usuários</h2>
        </div>
        <div class="card-body">
            <form id="meuFormulario">

                <div class="form-group">
                    <input type="hidden" id="id" name="id" th:if="${usuario}" th:value="${usuario.id}">
                </div>

                <div class="form-group">
                    <label for="nome">Nome do Usuário:</label>
                    <input type="text" class="form-control" id="nome" name="nome" required th:value="${usuario?.getNome()}">
                    <span id="nomeError" class="error"></span>
                </div>
                <div class="form-group">
                    <label for="email">E-mail:</label>
                    <input type="email" class="form-control" id="email" name="email" required th:value="${usuario?.getEmail()}">
                    <span id="emailError" class="error"></span>
                </div>
                <div class="form-group">
                    <label for="cpf">CPF:</label>
                    <input type="text" class="form-control" id="cpf" name="cpf" required th:value="${usuario?.getCpf()}">
                    <span id="cpfError" class="error"></span>
                </div>

                <div class="form-group">
                    <label for="senha">Senha:</label>
                    <input type="password" class="form-control" id="senha" name="senha" required>
                    <span id="senhaError" class="error"></span>
                </div>

                <div class="form-group">
                    <label for="confirmarSenha">Confirmar Senha:</label>
                    <input type="password" class="form-control" id="confirmarSenha" name="confirmarSenha" required>
                    <span id="confirmarSenhaError" class="error"></span>
                </div>

                <div class="form-group">
                    <label for="role">Grupo:</label>
                    <select class="form-control" id="role" name="role" th:value="${usuario?.getRole()}">
                        <option value="ADMIN">Admin</option>
                        <option value="ESTOQUISTA">Estoquista</option>
                    </select>
                </div>
                <button type="button" class="btn btn-primary btn-block" id="btnCadastrar">Cadastrar</button>
            </form>
        </div>
        <div id="toast-container" class="toast-container position-fixed p-3 top-0 end-0"></div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>
    function validarCPF(cpf) {
        cpf = cpf.replace(/[^\d]+/g, '');
        if (cpf == '') return false;
        // Elimina CPFs inválidos conhecidos
        if (
            cpf.length != 11 ||
            cpf == '00000000000' ||
            cpf == '11111111111' ||
            cpf == '22222222222' ||
            cpf == '33333333333' ||
            cpf == '44444444444' ||
            cpf == '55555555555' ||
            cpf == '66666666666' ||
            cpf == '77777777777' ||
            cpf == '88888888888' ||
            cpf == '99999999999'
        )
        {
            return false;
        }

        var add = 0;
        for (var i = 0; i < 9; i++) add += parseInt(cpf.charAt(i)) * (10 - i);
        var rev = 11 - (add % 11);
        if (rev == 10 || rev == 11) rev = 0;
        if (rev != parseInt(cpf.charAt(9))) return false;
        add = 0;
        for (var i = 0; i < 10; i++) add += parseInt(cpf.charAt(i)) * (11 - i);
        rev = 11 - (add % 11);
        if (rev == 10 || rev == 11) rev = 0;
        if (rev != parseInt(cpf.charAt(10))) return false;
        return true;

    }

    function validarEmail(email) {
        var regex = /^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/;
        return regex.test(email);
    }

    function validarSenha(senha, confirmarSenha){
    if(senha != confirmarSenha){
        return false;
    }
    else{
        return true;
    }
}

    $(document).ready(function() {
        $('#btnCadastrar').click(function() {
            var nome = $('#nome').val();
            var email = $('#email').val();
            var cpf = $('#cpf').val();
            var senha = $('#senha').val();
            var confirmarSenha = $('#confirmarSenha').val();


            if (nome === '' || email === '' || cpf === '' || senha === '' || confirmarSenha === '') {
                alert('Por favor, preencha todos os campos.');
                return;
            }

            if (!validarEmail(email)) {
                alert('E-mail inválido. Por favor, verifique o e-mail informado.');
                return;
            }

            if (!validarCPF(cpf)) {
                alert('CPF inválido. Por favor, verifique o CPF informado.');
                return;
            }

            if (!validarSenha(senha, confirmarSenha)) {
                alert('As senhas estão diferentes!');
                return;
            }

            var usuario = {
                nome: nome,
                email: email,
                cpf: cpf,
                senha: senha,
                role: $('#role').val()
            };

            if (window.location.pathname.startsWith('/editar/')) {

            var urlAtual = window.location.href;
            var partesDaUrl = urlAtual.split('/');
            var idUsuario = partesDaUrl[partesDaUrl.length - 1];

            console.log('ID do usuário:', idUsuario);

            url = '/editarUsuario/' + idUsuario;
            type = 'PUT'
            acao = 'Atualizado'
        } else {

            url = '/cadastrar';
            type = 'POST'
            acao = 'Cadastrado';

        }

            $.ajax({
            type: type,
            url: url,
            contentType: 'application/json',
            data: JSON.stringify(usuario),
            success: function(data) {

                alert(acao + ' com sucesso');
                console.log(acao + ' com sucesso:', data);

                window.location.href = '/listaDeUsuario';
            },
            error: function(xhr, status, error) {
            if (xhr.status === 400) {
                var errorMessage = xhr.responseText;
                alert('Erro : ' + errorMessage);
            } else {
                alert('Erro : ' + error);
            }
            console.error('Erro :', error);
        }

        });
        });
    });

</script>
</body>
</html>