<html lang="pt-br" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulário de Produto</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" th:href="@{/css/CadastroDeProdutos.css}">
</head>

<body>
    <div class="container mt-5">
        <h1>Formulário de Produto</h1>
        <form form id="formularioProduto" enctype="multipart/form-data">
            <div class="subContainer">
                <div class="form-row">
                    <div class="form-group">
                        <input type="hidden" id="id" name="id" th:if="${produto}" th:value="${produto.id}">
                    </div>
                    <div class="form-group col-md-9">
                        <label for="nome">Nome do Produto</label>
                        <input type="text" class="form-control" id="nome" maxlength="200" required
                            th:value="${produto?.getNome()}">
                    </div>
                    <div class="form-group col-md-3">
                        <label for="avaliacao">Avaliação</label>
                        <input type="number" class="form-control" id="avaliacao" min="1" max="5" step="0.5" required
                            th:value="${produto?.getAvaliacao()}">
                    </div>
                </div>
                <div class="form-group">
                    <label for="descricao">Descrição Detalhada</label>

                    <input class="form-control" id="descricao" rows="3" maxlength="2000" required
                        th:value="${produto?.getDescricao()}">
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="preco">Preço do Produto</label>
                        <input type="number" class="form-control" id="preco" step=".01" required
                            th:value="${produto?.getPreco()}">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="estoque">Quantidade em Estoque</label>
                        <input type="number" class="form-control" id="estoque" required
                            th:value="${produto?.getQuantidade()}">
                    </div>
                </div>
            </div>

            <div class="container col-8 d-flex align-items-center justify-content-center">
                <div class="row">
                    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators" id="carouselIndicators"></ol>
                        <div class="carousel-inner" id="carouselInner">
                            <!-- As imagens selecionadas serão adicionadas aqui dinamicamente -->
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button"
                            data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Anterior</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button"
                            data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Próximo</span>
                        </a>
                    </div>

                    <!-- Outros elementos ou colunas conforme necessário -->
                </div>
            </div>
            <div class="form-group">
                <label for="file">Upload de Imagem</label>
                <input type="file" class="form-control-file" name="file" id="file" multiple>
            </div>

            <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-primary btn-lg mr-3" id="btnSalvar">Salvar</button>
                <a th:href="@{/listaDeProduto}" class="btn btn-primary btn-lg">Cancelar</a>
            </div>
        </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <script>
        function adicionarImagensAoCarrossel(imagens) {
            var carouselIndicators = document.getElementById('carouselIndicators');
            var carouselInner = document.getElementById('carouselInner');

            // Limpa o carrossel antes de adicionar novas imagens
            carouselIndicators.innerHTML = '';
            carouselInner.innerHTML = '';

            for (var i = 0; i < imagens.length; i++) {
                // Cria um novo indicador de carrossel
                var novoIndicador = document.createElement('li');
                novoIndicador.setAttribute('data-target', '#carouselExampleIndicators');
                novoIndicador.setAttribute('data-slide-to', i.toString());
                if (i === 0) novoIndicador.className = 'active'; // Define o primeiro indicador como ativo
                carouselIndicators.appendChild(novoIndicador);

                // Cria um novo item de carrossel
                var novoItem = document.createElement('div');
                novoItem.className = 'carousel-item';
                if (i === 0) novoItem.className += ' active'; // Define o primeiro item como ativo

                // Cria a imagem e adiciona ao item do carrossel
                var novaImagem = document.createElement('img');
                novaImagem.className = 'd-block w-100';
                novaImagem.src = URL.createObjectURL(imagens[i]); // Define a URL da imagem
                novoItem.appendChild(novaImagem);

                carouselInner.appendChild(novoItem);
            }
        }

        // Adiciona um ouvinte de eventos ao campo de entrada do arquivo
        document.getElementById('file').addEventListener('change', function () {
            var imagensSelecionadas = this.files;
            if (imagensSelecionadas.length > 0) {
                adicionarImagensAoCarrossel(imagensSelecionadas);
            }
        });

        $(document).ready(function () {
            $('#btnSalvar').click(function () {
                var nome = $('#nome').val();
                var avaliacao = $('#avaliacao').val();
                var descricao = $('#descricao').val();
                var preco = $('#preco').val();
                var quantidade = $('#estoque').val();

                if (nome === '' || avaliacao === '' || descricao === '' || preco === '' || quantidade === '') {
                    alert('Por favor, preencha todos os campos e adicione ao menos uma imagem.');
                    return;
                }

                var produto = {
                    nome: nome,
                    avaliacao: avaliacao,
                    descricao: descricao,
                    preco: preco,
                    quantidade: quantidade
                };

                var url, type, acao;

                if (window.location.pathname.startsWith('/editarProduto/')) {
                    var urlAtual = window.location.href;
                    var partesDaUrl = urlAtual.split('/');
                    var idProduto = partesDaUrl[partesDaUrl.length - 1];

                    console.log('ID do produto:', idProduto);

                    url = '/produtoEditado/' + idProduto;
                    type = 'PUT';
                    acao = 'Atualizado';
                }
                else {
                    url = '/cadastrarProduto';
                    type = 'POST';
                    acao = 'Cadastrado';
                }

                const meuFormulario = document.getElementById('formularioProduto');
                const formData = new FormData(meuFormulario);

                const imagensSelecionadas = document.getElementById('file').files;

                for (let i = 0; i < imagensSelecionadas.length; i++) {
                    const imagem = imagensSelecionadas[i];
                    formData.append('file' + i, imagem);
                }
                    formData.append('produto', JSON.stringify(produto));

                    fetch(url, {
                        method: type,
                        body: formData
                    })
                        .then(response => response.json())
                        .then(data => {
                            alert(acao + ' com sucesso');
                            console.log(acao + ' com sucesso: ', data);
                            window.location.href = '/listaDeProduto';
                        })
                        .catch(error => {
                            console.error('Erro ao enviar dados para o servidor:', error);
                            alert('Erro : ' + error);
                            window.location.replace = '/listaDeProduto';
                        });
                });
        });


    </script>
</body>

</html>