<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
  <!-- Meta tags Obrigatórias -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">


  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/cabecalho.css}">

  <link rel="stylesheet" href="../static/css/CarrinhoDeCompra.css">
  <style>
    .produto-imagem {
      max-width: 150px;
      height: auto;
    }

    .produto-list-item {
      margin-bottom: 20px;
    }

    /* Estilos para destacar o total de produtos e total com frete */
    #totalTodosProdutos,
    #totalComFrete,
    #RS,
    #RS2 {
      font-size: 25px;
      font-weight: bold;
      color: white;
    }

    .quantidadeProduto {
      color: white;
    }

    /* Adicione espaço entre as opções de frete */
    .form-check {
      margin-bottom: 100px;
    }

    p,
    h4,
    h5,
    h1,
    label {
      text-transform: uppercase;
      color: #F0F8FF
    }


    body {
      background-color: black;
      /* Define uma cor de fundo */
    }

    /* O Modal (fundo) */
    .modal {
      display: none;
      /* Hidden by default */
      position: fixed;
      /* Stay in place */
      z-index: 1;
      /* Sit on top */
      left: 0;
      top: 0;
      width: 100%;
      /* Full width */
      height: 100%;
      /* Full height */
      overflow: auto;
      /* Enable scroll if needed */
      background-color: rgb(0, 0, 0);
      /* Fallback color */
      background-color: rgba(0, 0, 0, 0.4);
      /* Black w/ opacity */
    }

    /* Conteúdo do Modal */
    .modal-content {
      background-color: #fefefe;
      margin: 15% auto;
      /* 15% from the top and centered */
      padding: 20px;
      border: 1px solid #888;
      width: 80%;
      /* Could be more or less, depending on screen size */
    }

    /* O botão Close */
    .close {
      color: #aaa;
      float: right;
      font-size: 28px;
      font-weight: bold;
    }

    .close:hover,
    .close:focus {
      color: black;
      text-decoration: none;
      cursor: pointer;
    }

    #myModal label,
    h5 {
      display: inline !important;
      color: black !important;
    }
  </style>
  <title>Carrinho de Compra</title>
</head>

<body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-light bg-primary justify-content-center">
        <div class="col-md-2">
          <a href="/home">
            <img src="../static/img/logoTipo.jpeg" th:src="@{/img/logoTipo.jpeg}" class="img-fluid logo" alt="Logo">
        </a>
        </div>
        <form class="form-inline my-2 my-lg-0 col-md-4 col-lg-4">
          <h1 class="text-center">Carrinho de Compra</h1>
        </form>
        <div class="col-md-2 text-end">
            <th:block th:if="${usuarioLogado != null}">
                <a th:href="@{'opcoesCliente'}" class="text-white fa-lg">
                    <i class="fas fa-user"></i>
                    <span th:text="${usuarioLogado.nomeCompleto}"></span>
                </a>
            </th:block>
            <th:block th:unless="${usuarioLogado != null}">
                <a href="loginCliente" class="text-white fa-lg">
                    <i class="fas fa-user"></i>
                    Login
                </a>
            </th:block>
        </div>
        </div>
        </div>
        <div class="col-md-2 text-end d-flex align-items-center">
            <a th:if="${usuarioLogado != null}" th:href="@{/CarrinhoDeCompra/{id}(id=${usuarioLogado.id})}"
               class="text-white">
                <i class="fas fa-shopping-cart fa-2x"></i>
            </a>

            <a th:unless="${usuarioLogado != null}" th:href="@{/CarrinhoDeCompra}" class="text-white">
                <i class="fas fa-shopping-cart fa-2x"></i>
            </a>

            <button class="btn btn-danger btn-lg ml-2" th:if="${usuarioLogado != null}"
                    onclick="redirecionarParaLogin()" type="button" id="btnLogout">Sair</button>
        </div>

    </nav>
</header>

  <br>

  <div class="modal" id="myModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <div style="width: 100%; text-align: center;">
            <h5>Frete</h5>
          </div>
          <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
            <span aria-hidden="true">×</span>
          </button>
        </div>

        <div class="modal-body">
          <div class="row">
            <div class="col">
              <input type="text" class="form-control" id="inputCep" placeholder="CEP" pattern="\d{8}"
                title="Por favor, insira exatamente 8 dígitos para o CEP." required>
            </div>
            <div class="col-auto">
              <button type="button" class="btn btn-primary" id="calculateFreight">Calcular Frete</button>
            </div>
          </div>
          <div id="freightOptions" style="display: none;">
            <div>
              <input type="radio" id="expresso" name="frete" value="expresso">
              <label for="expresso">Expresso (5 dias úteis) - R$ 20</label>
            </div>
            <div>
              <input type="radio" id="normal" name="frete" value="normal">
              <label for="normal">Normal (7 dias úteis) - R$ 10</label>
            </div>
            <div>
              <input type="radio" id="loja" name="frete" value="loja">
              <label for="loja">Retirar na loja (7 dias) - Grátis</label>
            </div>
          </div>
        </div>
        <div class="modal-footer d-flex justify-content-center">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
          <button type="button" class="btn btn-primary" id="continuar">Continuar</button>
        </div>
      </div>
    </div>
  </div>


  <!-- Lista de itens no carrinho -->
  <div class="container">
    <div class="row" id="carrinhoLista">
      <!-- Itens do carrinho serão inseridos aqui -->
    </div>
    <div class="row">
      <div class="col text-center">
        <br>
        <p>Total: <span id="RS2">R$</span> <span id="totalTodosProdutos"> 0.00</span></p>
        <p>Total com Frete: <span id="RS">R$</span> <span id="totalComFrete"> 0.00</span></p>
        <button type="button" class="btn btn-success finalizar-compra" id="finalizarCompra"
          onclick="finalizarCompra">Finalizar Compra</button>
      </div>
    </div>
  </div>

  <!-- JavaScript -->
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" crossorigin="anonymous"></script>
  <script>
    $(document).ready(function () {


      // Obtenha a lista do armazenamento local
      var carrinho = localStorage.getItem('carrinho');


      // Verifique se a lista existe
      if (carrinho) {
        // Se a lista existir, converta-a de volta em um array
        carrinho = JSON.parse(carrinho);
      } else {
        // Se a lista não existir, crie uma nova
        alert('Carrinho vázio!');
      }

      // Variável para armazenar a quantidade atual
      var quantidade = 1;


      // Função para buscar produtos do banco de dados
      function buscarProdutos() {
        $.ajax({
          url: '/api/produtos',
          method: 'GET',
          dataType: 'json',
          success: function (data) {
            if (Array.isArray(data)) {
              // Filtrar produtos que estão no carrinho
              var produtosCarrinho = data.filter(function (produto) {
                return carrinho.includes(produto.id);
              });

              // Limpar a lista antes de adicionar novos itens
              $('#carrinhoLista').empty();

              // Adicionar produtos ao carrinho
              produtosCarrinho.forEach(function (produto) {
                if (produto.hasOwnProperty('img') && produto.hasOwnProperty('nome') && produto.hasOwnProperty('preco')) {
                  // Crie um elemento de lista para cada produto
                  var listItem = criarListItem(produto);
                  $('#carrinhoLista').append(listItem);
                }
              });
            }
          },
          error: function (error) {
            console.error('Erro ao buscar produtos:', error);
          }
        });
      }
      //'/exibirImagens/' + imagens[i].url;
      // Função para criar um elemento de lista para um produto
      function criarListItem(produto) {

        var listItem = $('<div>').addClass('col-md-6 mb-6 text-center').css('margin-top', '50px');
        listItem.append(`<img src="/exibirImagens/${produto.img[0].url}" class="produto-imagem">
      <h4>${produto.nome}</h4>
      <p>R$ <span class="precoProduto">${produto.preco.toFixed(2)}</span></p>
      <div>
        <button class="btn btn-secondary diminuir-quantidade">-</button>
        <span class="quantidadeProduto">${quantidade}</span>
        <button class="btn btn-secondary aumentar-quantidade">+</button>
      </div>
      <p>Total: R$ <span class="totalProduto">${(produto.preco * quantidade).toFixed(2)}</span></p>
      <button class="btn btn-secondary w-90 remover-btn" data-produto-id="${produto.id}" style="margin-top: auto;">Remover</button>`);

        // Adicionar eventos aos botões de quantidade

        listItem.find('.diminuir-quantidade').click(function () {
          diminuirQuantidade(listItem);
        });

        listItem.find('.aumentar-quantidade').click(function () {
          aumentarQuantidade(listItem);
        });

        atualizarPrecoTotal(listItem);

        return listItem;
      }

      // Função para diminuir a quantidade
      function diminuirQuantidade(item) {
        quantidade = parseInt(item.find('.quantidadeProduto').text());
        if (quantidade > 1) {
          quantidade--;
          item.find('.quantidadeProduto').text(quantidade);
          atualizarPrecoTotal(item);
        }
      }

      // Função para aumentar a quantidade
      function aumentarQuantidade(item) {
        quantidade = parseInt(item.find('.quantidadeProduto').text());
        quantidade++;
        item.find('.quantidadeProduto').text(quantidade);
        atualizarPrecoTotal(item);
      }

      $(document).on('click', '.remover-btn', function () {
        // Encontre o elemento pai do botão, que é o item da lista de produtos
        var listItem = $(this).closest('.col-md-4');

        // Obtenha o ID do produto
        var produtoId = $(this).data('produto-id');

        // Remova o ID do produto do array carrinho
        carrinho = carrinho.filter(function (id) {
          return id !== produtoId;
        });

        // Salve o array carrinho atualizado de volta no localStorage
        localStorage.setItem('carrinho', JSON.stringify(carrinho));

        // Remova o item da lista
        listItem.remove();

        // Recalcule o total de todos os produtos
        calcularTotalTodosProdutos();

        // Atualize a página
        location.reload();
      });
      var valorTotal = calcularTotalTodosProdutos();

      // Função para atualizar o preço total de um produto
      function atualizarPrecoTotal(item) {
        var precoProduto = parseFloat(item.find('.precoProduto').text());

        var produtoId = item.find('.remover-btn').data('produto-id');
        var quantidade = parseInt(item.find('.quantidadeProduto').text());

        // Recuperar a lista de quantidades do localStorage
        var quantidades = JSON.parse(localStorage.getItem('quantidades')) || {};

        // Salvar a quantidade para o produto
        quantidades[produtoId] = quantidade;

        // Salvar a lista de quantidades de volta no localStorage
        localStorage.setItem('quantidades', JSON.stringify(quantidades));


        item.find('.totalProduto').text((precoProduto * quantidade).toFixed(2));
        calcularTotalTodosProdutos();
      }

      // Função para calcular o total de todos os produtos
      function calcularTotalTodosProdutos() {
        var total = 0;
        $('.totalProduto').each(function () {
          total += parseFloat($(this).text());
        });
        $('#totalTodosProdutos').text(total.toFixed(2));

        // Chame a função para atualizar o valor total com base na escolha de frete
        atualizarTotalComFrete();
      }

      // Função para atualizar o valor total com base na escolha de frete
      function atualizarTotalComFrete() {
        var freteSelecionado = $('input[name="frete"]:checked').val();
        var totalProdutos = parseFloat($('#totalTodosProdutos').text());

        // Defina os valores dos fretes
        var valorFreteExpresso = 20;
        var valorFreteNormal = 10;
        var valorFreteLoja = 0;

        var totalComFrete = totalProdutos;

        if (freteSelecionado === "expresso") {
          totalComFrete += valorFreteExpresso;
        } else if (freteSelecionado === "normal") {
          totalComFrete += valorFreteNormal;
        } else if (freteSelecionado === "loja") {
          totalComFrete += valorFreteLoja;
        }

        // Atualize o valor total com o frete selecionado
        $('#totalComFrete').text(totalComFrete.toFixed(2));
      }

      $('#myModal').on('shown.bs.modal', function () {
        alert('evento');
        $('input[name="frete"]').change(function () {
          var freteSelecionado = $(this).val();
          console.log('Frete selecionado: ' + freteSelecionado);
          atualizarTotalComFrete();
        });
      });


      // Adicione um evento para detectar a mudança na seleção de frete
      $('input[name="frete"]').change(atualizarTotalComFrete);

      // Chame a função para buscar produtos quando a página for carregada
      buscarProdutos();


      document.getElementById('finalizarCompra').onclick = calcularFrete;

      function finalizarCompra() {

        calcularFrete();
        // Verifique se o usuário está logado

      }
      var usuarioLogado = localStorage.getItem('usuarioLogado');
      if (usuarioLogado) {
        // Se o usuário estiver logado, mostre as opções de frete imediatamente
        document.getElementById('freightOptions').style.display = 'block';
        $('#inputCep').parent().parent().hide();
      } else {
        // Se o usuário não estiver logado, adicione o evento de clique ao botão
        document.getElementById('calculateFreight').addEventListener('click', function () {
          var cep = document.getElementById('inputCep').value;

          if (cep.length === 8) {
            document.getElementById('freightOptions').style.display = 'block';
          } else {
            alert('Por favor, insira um CEP válido com 8 dígitos.');
          }
        });
      }


      // Pega o modal
      var modal = document.getElementById("myModal");

      // Pega o elemento que fecha o modal
      var span = document.getElementsByClassName("close")[0];

      document.getElementById('calculateFreight').addEventListener('click', function () {
        var cep = document.getElementById('inputCep').value;

        if (cep.length === 8) {
          document.getElementById('freightOptions').style.display = 'block';
        } else {
          alert('Por favor, insira um CEP válido com 8 dígitos.');
        }
      });

      // Quando o usuário clica no botão, abre o modal 
      function calcularFrete() {
        modal.style.display = "block";
      }

    });

  </script>

  <script>
    document.addEventListener('DOMContentLoaded', function () {

      var closeButton = document.querySelector('.close');
      var closeFooterButton = document.querySelector('.btn-secondary');
      var modal = document.querySelector('#myModal');

      closeButton.addEventListener('click', function () {
        modal.style.display = 'none';
      });

      closeFooterButton.addEventListener('click', function () {
        modal.style.display = 'none';
      });
    });
  </script>

  <script>
    function obterProdutoIdDaUrl() {
      // Obtém a parte da URL após a última barra (presumindo que o ID do produto está no final da URL)
      var url = window.location.pathname;
      var partesDaUrl = url.split('/');
      var produtoId = partesDaUrl[partesDaUrl.length - 1];

      if (produtoId) {
        return produtoId;
      } else {
        return null;
      }
    }

    $('#continuar').click(function () {

      var usuarioLogado = localStorage.getItem('usuarioLogado');
      if (usuarioLogado) {
        var idCliente = obterProdutoIdDaUrl();

        var total = $('#totalTodosProdutos').text();
        localStorage.setItem('totalTodosProdutos', total);

        var totalComFrete = $('#totalComFrete').text();
        localStorage.setItem('totalComFrete', totalComFrete);

        window.location.href = '/enderecoEntrega/' + idCliente;
      } else {
        alert('Por favor, faça login para finalizar a compra.');
        window.location.href = '/loginCliente';
      }
    });
  </script>
</body>

</html>