<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Meta tags Obrigatórias -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/DetalhesPedidos.css}">

    <title>Detalhes do Pedido</title>
</head>

<body>
<h1 class="text-center">Detalhes do Pedido</h1>

<div class="container">
    <p><strong>Forma de Pagamento:</strong> <span th:text="${pedido.formaDePagamento}"></span></p>
    <p><strong>Valor Total:</strong> <span th:text="${pedido.valorTotal}"></span></p>

    <p><strong>Endereço de Entrega:</strong> <span th:text="${endereco.logradouro + ', ' + endereco.numero + ', ' + endereco.bairro + ', ' + endereco.cep + ', ' + endereco.cidade}"></span></p>

    <div th:each="produto, produtoStat : ${pedido.produtos}" class="mb-5">
        <h2>Produto: <span th:text="${produto.produto.nome}"></span></h2>

        <img th:src="@{'/exibirImagens/' + ${produto.produto.img[0].url}}" alt="Imagem do Produto" style="width: 20%;">

        <p><strong>Preço:</strong> <span th:text="${produto.produto.preco}"></span></p>
        <p><strong>Quantidade:</strong> <span th:text="${produto.quantidade}"></span></p>
    </div>

</div>

<!-- Adicione seus scripts e bibliotecas JavaScript aqui -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-mCBqzfoefLT00Hj4ymBWT6L4HlE9bPWlNqk/D61ezQ2Z11bvwcvu4ScewyZ+pJcY"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.6.0/js/bootstrap.min.js"
        integrity="sha384-LCdCGdKEjNL8A9ZXFMe6ZCDLXH9/8eSpfQTdEYD8hTB9gA2jM6vAjCb74R2CxF5f"
        crossorigin="anonymous"></script>
</div>
</body>

</html>