<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" th:href="@{/css/Home.css}">
        <link rel="stylesheet" href="../static/css/Home.css">
        <title>Home</title>
    </head>
    <body>
        <header>
            <nav class="navbar navbar-expand-lg navbar-light bg-primary">
                <div class="col-md-2">
                    <img src="../static/img/logoTipo.jpeg" class="img-fluid logo" alt="Logo">
                </div>
                <form class="form-inline my-2 my-lg-0 col-md-6">
                    <input class="form-control mr-sm-2 w-75" type="search" placeholder="Pesquisar" aria-label="Pesquisar">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Pesquisar</button>
                </form>
                <div class="col-md-2 text-end">
                    <a href="#" class="text-white fa-lg">
                        <i class="fas fa-user"></i> <!-- Ícone de login -->
                        Login
                    </a>
                </div>
                <div class="col-md-2 text-end">
                    <a href="#" class="text-white">
                        <i class="fas fa-shopping-cart fa-2x"></i> <!-- Ícone do carrinho -->
                    </a>
                </div>
            </nav>

            <div class="container ">
                <div class="row">
                    <div class="col-md-3">
                        <!-- Card 1 -->
                        <div class="card">
                            <img src="../static/img/camisasdetime.jpg" class="card-img-top" alt="Imagem do Card 1">
                            <div class="card-body">
                                <h5 class="card-title">Card 1</h5>
                                <p class="card-text">Conteúdo do Card 1.</p>
                                <button class="btn btn-primary w-100">Comprar</button>
                            </div>
                        </div>
                        <div class="card">
                            <img src="../static/img/camisasdetime.jpg" class="card-img-top" alt="Imagem do Card 1">
                            <div class="card-body">
                                <h5 class="card-title">Card 1</h5>
                                <p class="card-text">Conteúdo do Card 1.</p>
                                <button class="btn btn-primary w-100">Comprar</button>
                            </div>
                        </div>
                        <div class="card">
                            <img src="../static/img/camisasdetime.jpg" class="card-img-top" alt="Imagem do Card 1">
                            <div class="card-body">
                                <h5 class="card-title">Card 1</h5>
                                <p class="card-text">Conteúdo do Card 1.</p>
                                <button class="btn btn-primary w-100">Comprar</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <!-- Card 2 -->
                        <div class="card">
                            <img src="../static/img/camisasdetime.jpg" class="card-img-top" alt="Imagem do Card 2">
                            <div class="card-body">
                                <h5 class="card-title">Card 2</h5>
                                <p class="card-text">Conteúdo do Card 2.</p>
                                <button class="btn btn-primary w-100">Comprar</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <!-- Card 3 -->
                        <div class="card">
                            <img src="../static/img/camisasdetime.jpg" class="card-img-top" alt="Imagem do Card 3">
                            <div class="card-body">
                                <h5 class="card-title">Card 3</h5>
                                <p class="card-text">Conteúdo do Card 3.</p>
                                <button class="btn btn-primary w-100">Comprar</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <!-- Card 4 -->
                        <div class="card">
                            <img src="../static/img/camisasdetime.jpg" class="card-img-top" alt="Imagem do Card 4">
                            <div class="card-body">
                                <h5 class="card-title">Card 4</h5>
                                <p class="card-text">Conteúdo do Card 4.</p>
                                <button class="btn btn-primary w-100">Comprar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </header>

    <!-- JavaScript (Opcional) -->
    <!-- jQuery primeiro, depois Popper.js, depois Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>