<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/Home.css}">
    <link rel="stylesheet" href="../static/css/Home.css">
    <title>Home</title>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-primary">
            <div class="col-md-2">
                <img src="../static/img/logoTipo.jpeg" th:src="@{/img/logoTipo.jpeg}" class="img-fluid logo" alt="Logo">
            </div>
            <form class="form-inline my-2 my-lg-0 col-md-6">
                <input class="form-control mr-sm-2 w-75" type="search" placeholder="Pesquisar" aria-label="Pesquisar">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Pesquisar</button>
            </form>
            <div class="col-md-2 text-end">
                <th:block th:if="${usuarioLogado != null}">
                    <a th:href="@{'opcoesCliente'}" class="text-white fa-lg">
                        <i class="fas fa-user"></i>
                        <span th:text="${usuarioLogado.nomeCompleto}"></span>
                    </a>
                </th:block>
                <th:block th:unless="${usuarioLogado != null}">
                    <a href="loginCliente" class="text-white fa-lg">
                        <i class="fas fa-user"></i>
                        Login
                    </a>
                </th:block>
            </div>
            </div>
            </div>
            <div class="col-md-2 text-end d-flex align-items-center">
                <a th:if="${usuarioLogado != null}" th:href="@{/CarrinhoDeCompra/{id}(id=${usuarioLogado.id})}"
                   class="text-white">
                    <i class="fas fa-shopping-cart fa-2x"></i>
                </a>

                <a th:unless="${usuarioLogado != null}" th:href="@{/CarrinhoDeCompra}" class="text-white">
                    <i class="fas fa-shopping-cart fa-2x"></i>
                </a>

                <button class="btn btn-danger btn-lg ml-2" th:if="${usuarioLogado != null}"
                        onclick="redirecionarParaLogin()" type="button" id="btnLogout">Sair</button>
            </div>

        </nav>
        <div class="container">
            <div class="row" id="productCards">

            </div>
        </div>


        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <script>
            function redirecionarParaLogin() {

                let confirmMessage = 'Tem certeza de que deseja sair da conta ?';

                const confirmacao = confirm(confirmMessage);

                if (confirmacao) {
                    localStorage.removeItem('usuarioLogado');
                    localStorage.removeItem('carrinho');
                    localStorage.removeItem('enderecoId');

                    // O usuário clicou em "Sim", continue com a lógica de atualização
                    $.ajax({
                        type: 'POST',
                        url: '/logout',
                        contentType: 'application/json',
                        data: JSON.stringify({}),
                        success: function (data) {
                            alert('Atualizado com sucesso');
                            console.log('Atualizado com sucesso:', data);
                            window.location.href = '/loginCliente';
                        },
                        error: function (xhr, status, error) {
                            if (xhr.status === 400) {
                                var errorMessage = xhr.responseText;
                                alert('Erro ao atualizar: ' + errorMessage);
                            } else {
                                alert('Erro ao atualizar: ' + error);
                            }
                            console.error('Erro ao atualizar:', error);
                        }
                    });
                } else {
                    alert('Operação cancelada');
                }
            }
        </script>
        <script>
            $(document).ready(function () {
                $.ajax({
                    url: '/api/produtos',
                    method: 'GET',
                    dataType: 'json',
                    success: function (data) {
                        if (Array.isArray(data)) {
                            data.forEach(function (produto) {
                                if (produto.hasOwnProperty('img') && produto.hasOwnProperty('nome') && produto.hasOwnProperty('descricao') && produto.hasOwnProperty('preco')) {
                                    var cardHtml = `
    <div class="col-md-4 meu-card">
        <div class="card">
            <img src="/exibirImagens/${produto.img[0].url}" class="card-img-top" alt="Imagem do Produto">
            <div class="card-body" style="display: flex; flex-direction: column; height: 170px;">
                <h4 class="card-title">${produto.nome}</h4>
                <h5 class="card-text">R$ ${produto.preco.toFixed(2)}</h5>
                <button class="btn btn-primary w-100 comprar-btn" data-produto-id="${produto.id}" style="margin-top: auto;">Comprar</button>
            </div>
        </div>
    </div>
`;
                                    $('#productCards').append(cardHtml);

                                    $('.comprar-btn').on('click', function () {
                                        var produtoId = $(this).data('produto-id');
                                        window.location.href = '/possivelCompra/' + produtoId;
                                    });
                                } else {
                                    console.error('Produto com dados faltando:', produto);
                                }
                            });
                        } else {
                            console.error('Dados inválidos do servidor:', data);
                        }
                    },
                    error: function (error) {
                        console.error('Erro ao buscar produtos:', error);
                    }
                });
            });


        </script>
    </header>

</body>

</html>