<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Pedidos</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" th:href="@{/css/ListaProduto.css}">
</head>
<body>

    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-primary">
            <div class="col-md-2">
                <img src="../static/img/logoTipo.jpeg" th:src="@{/img/logoTipo.jpeg}" class="img-fluid logo" alt="Logo">
            </div>
            <form class="form-inline my-2 my-lg-0 col-md-6">
                <input class="form-control mr-sm-2 w-75" type="search" placeholder="Pesquisar" aria-label="Pesquisar">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Pesquisar</button>
            </form>
            <div class="col-md-2 text-end">
                <th:block th:if="${usuarioLogado != null}">
                    <a th:href="@{'opcoesCliente'}" class="text-white fa-lg">
                        <i class="fas fa-user"></i>
                        <span th:text="${usuarioLogado.nomeCompleto}"></span>
                    </a>
                </th:block>
                <th:block th:unless="${usuarioLogado != null}">
                    <a href="loginCliente" class="text-white fa-lg">
                        <i class="fas fa-user"></i>
                        Login
                    </a>
                </th:block>
            </div>
            </div>
            </div>
            <div class="col-md-2 text-end d-flex align-items-center">
                <a th:if="${usuarioLogado != null}" th:href="@{/CarrinhoDeCompra/{id}(id=${usuarioLogado.id})}"
                   class="text-white">
                    <i class="fas fa-shopping-cart fa-2x"></i>
                </a>

                <a th:unless="${usuarioLogado != null}" th:href="@{/CarrinhoDeCompra}" class="text-white">
                    <i class="fas fa-shopping-cart fa-2x"></i>
                </a>

                <button class="btn btn-danger btn-lg ml-2" th:if="${usuarioLogado != null}"
                        onclick="redirecionarParaLogin()" type="button" id="btnLogout">Sair</button>
            </div>

        </nav>
    </header>

<div class="container mt-5 col-11">
    <h1>Lista de Pedidos</h1>
    <table class="table">
        <thead>
        <tr>
            <th><i class="fas fa-barcode"></i> ID</th>
            <th><i class="fas fa-credit-card"></i> Forma de Pagamento</th>
            <th><i class="fas fa-dollar-sign"></i> Valor da Parcela</th>
            <th><i class="fas fa-dollar-sign"></i> Valor Total</th>
            <th><i class="fas fa-dollar-sign"></i> Valor do Frete</th>
            <th><i class="fas fa-list-ol"></i> Parcelas</th>
            <th><i class="fas fa-user"></i> Cliente</th>
            <th><i class="fas fa-user"></i> Detalhes</th>
            <th>Status</th>
        </tr>
        </thead>
        <tbody id="pedidosList">
        <tr th:each="pedido : ${pedidos}" th:attr="data-id=${pedido.id}">
            <td th:text="${pedido.id}"></td>
            <td th:text="${pedido.formaDePagamento}"></td>
            <td th:text="${pedido.valorParcela}"></td>
            <td th:text="${pedido.valorTotal}"></td>
            <td th:text="${pedido.valorFrete}"></td>
            <td th:text="${pedido.parcelas}"></td>
            <td th:text="${pedido.clientePedido.nomeCompleto}"></td>
            <td>
                <a th:href="@{'/meuPedido/' + ${pedido.id}}" class="btn btn-primary">Visualizar</a>
            </td>
            <td>
                <span th:text="${pedido.status}" id="statusText"></span>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#statusModal">
                    Alterar Status
                </button>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<!-- Modal -->
<div class="modal fade" id="statusModal" tabindex="-1" role="dialog" aria-labelledby="statusModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="statusModalLabel">Selecione um Novo Status</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <select class="form-control" id="statusSelect">
                    <option value="Pagamento rejeitado">Pagamento Rejeitado</option>
                    <option value="Pagamento com sucesso">Pagamento com Sucesso</option>
                    <option value="Aguardando retirada">Aguardando Retirada</option>
                    <option value="Em transito">Em Trânsito</option>
                    <option value="Entregue">Entregue</option>
                </select>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                <button type="button" class="btn btn-primary" onclick="atualizarStatus()">Salvar Mudanças</button>
            </div>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>
    function atualizarStatus() {
    var novoStatus = document.getElementById("statusSelect").value;
    document.getElementById("statusText").innerText = novoStatus;
    $('#statusModal').modal('hide');
    alert(novoStatus);

    var idPedido = $('#pedidosList tr').data('id');


    var atualizacaoStatusDto = {
        status: novoStatus
    };

    $.ajax({
        url: '/atualizarStatusPedido/' + idPedido,
        type: 'PUT',
        contentType: 'application/json',
        data: JSON.stringify(atualizacaoStatusDto),
        success: function (data) {
            alert('Atualizado com sucesso');
            window.location.href = "/listaDePedidos";
        },
        error: function (xhr, status, error) {
            if (xhr.status === 400) {
                alert('Erro');
            } else {
                alert('Erro');
            }
            console.error('Erro:', error);
        }
    });
}
</script>
</body>
</html>
