<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Usuários</title>
    <!-- Inclua as referências ao Bootstrap aqui -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" th:href="@{/css/ListaDeUsuarios.css}">
    <link rel="stylesheet" href="../static/css/ListaDeUsuarios.css">
</head>
<body>
<div class="container mt-5">
    <h1>Lista de Usuários</h1>

    <nav class="navbar navbar-light bg-light my-2">
        <form class="input-group mr-2">
            <input class="form-control m-2" type="search" id="inputPesquisa" placeholder="Pesquisar" aria-label="Pesquisar">
            <button
                    class="btn btn-outline-secondary m-2 btn-pesquisar"
                    type="submit"
                    onclick="pesquisarPorNome(event, this);">
                Pesquisar</button>

            <a th:href="@{/cadastro}" class="btn btn-success m-2 btn-cadastrar">
                <i class="fas fa-plus"></i>Novo Usuário
            </a>
        </form>
    </nav>
    <table id="user-table" class="table">
        <thead>
        <tr>
            <th><i class="icon fas fa-user"></i>Nome</th>
            <th><i class="icon fas fa-envelope"></i>Email</th>
            <th><i class="icon fas fa-toggle-on"></i>Status</th>
            <th><i class="icon fas fa-users"></i>Grupo</th>
            <th><i class="icon fas fa-pencil-alt"></i> Editar</th>
        </tr>
        </thead>
        <tbody id="user-list">
        <tr th:each="listando : ${lista}">
            <td th:text="${listando.getNome}">Nome</td>
            <td th:text="${listando.getEmail}">Email</td>
            <td>
                <button
                        th:if="${listando.getStatus()}"
                        type="button"
                        class="btn btn-success status-button"
                        th:data-user-id="${listando.getId()}"
                        data-status="Ativo"
                        onclick="atualizarStatus(this);">
                    Ativo
                </button>
                <button
                        th:unless="${listando.getStatus()}"
                        type="button"
                        class="btn btn-danger status-button"
                        th:data-user-id="${listando.getId()}"
                        data-status="Inativo"
                        onclick="atualizarStatus(this);">
                    Inativo
                </button>
            </td>
            <td th:text="${listando.getRole}">Grupo</td>
            <td><a th:href="@{/editar/{id}(id=${listando.id})}">Editar</a></td>
        </tr>
        </tbody>
    </table>
    </div>
</div>
<!-- Inclua as referências aos scripts do Bootstrap e do JavaScript aqui -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
    const userList = document.getElementById("userList");
    const users = [
            { id: 1, nome: "Usuário 1", email: "usuario1@example.com", status: "Ativo", grupo: "Grupo A", editar: "Editar" },
        { id: 2, nome: "Usuário 2", email: "usuario2@example.com", status: "Ativo", grupo: "Grupo B", editar: "Editar" },
        // Adicione mais objetos de usuário conforme necessário
    ];

    users.forEach(user => {
        const row = document.createElement("tr");
        row.innerHTML = `
            <td>${user.nome}</td>
            <td>${user.email}</td>
            <td>
                <button id="btnAtualizar_${user.id}"
                        type="button"
                        class="btn btn-success status-button"
                        data-user-id="${user.id}"
                        onclick="atualizarStatus();">
                    Ativo
                </button>
                <button id="btnInativo_${user.id}"
                        type="button"
                        class="btn btn-danger status-button"
                        data-user-id="${user.id}"
                        onclick="atualizarStatus();">
                    Inativo
                </button>
            </td>
            <td>${user.grupo}</td>
            <td>${user.editar}</td>
        `;
        userList.appendChild(row);
    });
});


</script>
<script>
    function atualizarStatus(button) {
    const userId = button.getAttribute("data-user-id");
    const status = button.getAttribute("data-status");

    // Determine a mensagem com base no status atual
    let confirmMessage = '';

    if (status === 'Ativo') {
        confirmMessage = 'Tem certeza de que deseja mudar para Inativo?';
    } else if (status === 'Inativo') {
        confirmMessage = 'Tem certeza de que deseja mudar para Ativo?';
    }

    // Exibe um diálogo de confirmação com a mensagem apropriada
    const confirmacao = confirm(confirmMessage);

    if (confirmacao) {
        // O usuário clicou em "Sim", continue com a lógica de atualização
        $.ajax({
            type: 'PUT',
            url: '/atualizarStatus/' + userId,
            contentType: 'application/json',
            data: JSON.stringify({ userId: userId }),
            success: function(data) {
                alert('Atualizado com sucesso');
                console.log('Atualizado com sucesso:', data);
                window.location.href = '/listaDeUsuario';
            },
            error: function(xhr, status, error) {
                if (xhr.status === 400) {
                    var errorMessage = xhr.responseText;
                    alert('Erro ao atualizar: ' + errorMessage);
                } else {
                    alert('Erro ao atualizar: ' + error);
                }
                console.error('Erro ao atualizar:', error);
            }
        });
    } else {
        // O usuário clicou em "Não", não faça nada
        alert('Operação cancelada');
    }
}
</script>
<script>
    function pesquisarPorNome(event, button) {
    event.preventDefault();
    const inputElement = document.querySelector('.form-control');
    const pesquisa = inputElement.value;

    $.ajax({
        type: 'GET',
        url: '/listaDeUsuario?nome=' + pesquisa, // Adicione o parâmetro 'nome' na URL
        contentType: 'application/json',
        success: function (data) {
            console.log('Pesquisou com sucesso:', data);
            window.location.href = '/listaDeUsuario?nome=' + pesquisa;
            const userList = document.getElementById('user-list');
        },
        error: function (xhr, status, error) {
            if (xhr.status === 400) {
                var errorMessage = xhr.responseText;
                alert('Erro ao pesquisar: ' + errorMessage);
            } else {
                alert('Erro ao pesquisar: ' + error);
            }
            console.error('Erro ao pesquisar:', error);
        }
    });
}



</script>
</body>
</html>
