<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Produtos</title>
    <!-- Adicione o link para o Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" th:href="@{/css/ListaProduto.css}">
    <link rel="stylesheet" href="../static/css/ListaProduto.css">

</head>
<body>

<div class="container mt-5">
    <h1>Lista de Produtos</h1>


     <!-- Botões de Ação -->
    <div class="d-flex mb-3">
        <!-- Botão de Pesquisa -->
        <div class="input-group mr-2">
            <input type="text" class="form-control" id="pesquisaProduto" placeholder="Pesquisar por nome do produto">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary ml-2" type="button" id="btnPesquisar">Pesquisar</button>
            </div>
        </div>

        <!-- Botão de Cadastro -->
        <a th:href="@{/cadastro}" class="btn btn-success" id="btnCadastro">
            <i class="fas fa-plus"></i>ADD Produto
        </a>
        
    </div>

    <!-- Tabela de Produtos -->
    <table class="table">
        <thead>
            <tr>
                <th><i class="fas fa-barcode"></i> Código</th>
                <th><i class="fas fa-tags"></i> Nome</th>
                <th><i class="fas fa-cubes"></i> Estoque</th>
                <th><i class="fas fa-dollar-sign"></i> Valor</th>
                <th><i class="fas fa-check-circle"></i> Status</th>
                <th><i class="fas fa-info-circle"></i> Detalhes</th>
            </tr>
        </thead>
        <tbody>
            <!-- Iteração sobre a lista de produtos -->
            <tr th:each="produto : ${pagedProducts}">
                <td th:text="${produto.codigo}"></td>
                <td th:text="${produto.nome}"></td>
                <td th:text="${produto.quantidade}"></td>
                <td th:text="${produto.valor}"></td>
                <td th:text="${produto.status}"></td>
            </tr>
        </tbody>
    </table>

    <!-- Paginação -->
    <nav aria-label="Navegação de página">
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Anterior">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Anterior</span>
                </a>
            </li>
            <li th:each="pageNumber : ${#numbers.sequence(1, totalPages)}" th:class="${pageNumber == page} ? 'page-item active' : 'page-item'">
                <a class="page-link" th:href="@{'/?page=' + pageNumber}" th:text="${pageNumber}"></a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Próximo">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Próximo</span>
                </a>
            </li>
        </ul>
    </nav>
</div>

<!-- Script para lidar com a pesquisa -->
<script>
    $(document).ready(function() {
        const produtos = /* Sua lista de produtos */
        
        function atualizarTabela(produtosFiltrados) {
            const tabelaProdutos = document.querySelector('tbody');
            tabelaProdutos.innerHTML = '';

            for (const produto of produtosFiltrados) {
                const row = tabelaProdutos.insertRow();
                row.innerHTML = `
                    <td>${produto.codigo}</td>
                    <td>${produto.nome}</td>
                    <td>${produto.quantidade}</td>
                    <td>${produto.valor}</td>
                    <td>${produto.status}</td>
                `;
            }
        }

        // Manipulador de clique para o botão de pesquisa
        $('#btnPesquisar').on('click', function() {
            const termoPesquisa = $('#pesquisaProduto').val().toLowerCase();
            const produtosFiltrados = produtos.filter(function(produto) {
                return produto.nome.toLowerCase().includes(termoPesquisa);
            });
            atualizarTabela(produtosFiltrados);
        });

        // Exiba todos os produtos ao carregar a página
        atualizarTabela(produtos);
    });
</script>

<!-- Adicione o link para o Bootstrap JS e o jQuery (opcional) -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
