<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/LoginCliente.css}">
    <link rel="stylesheet" href="../static/css/LoginCliente.css">
    <title>Tela de Login</title>
</head>
<body>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="card">
                <div class="card-header d-flex justify-content-center">
                    <h3 class="card-title">Login</h3>
                </div>
                <div class="card-body">
                    <form>
                        <div class="mb-3">
                            <label for="email" class="form-label">Nome de Usuário</label>
                            <input type="email" id="email" class="form-control" placeholder="Seu email" required>
                        </div>
                        <div class="mb-3">
                            <label for="senha" class="form-label">Senha</label>
                            <input type="password" class="form-control" id="senha" placeholder="Sua Senha" required>
                        </div>

                        <div class="d-flex justify-content-center">
                            <button type="button" class="btn btn-primary btn-lg btn-login" id="btnLogar">Entrar</button>
                            <span style="margin: 0 10px;"></span>
                            <button type="button" class="btn btn-secondary btn-lg" id="btnVoltar">Voltar</button>
                        </div>
                    </form>
                </div>
                <div class="card-footer">
                    <p class="mb-0">Ainda não tem uma conta? <a href="CadastroCliente">Cadastrar-se</a></p>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
  $(document).ready(function() {
  console.log('tentou')
  $('#btnLogar').click(function() {
    alert('tentou logar');
    console.log('tentou')
    var email = $('#email').val();
    var senha = $('#senha').val();

    if (email === '' || senha === '') {
      alert('Por favor, preencha todos os campos.');
      return;
    }

    var usuario = {
      email: email,
      senha: senha
    };

    $.ajax({
      url: '/logarCliente',
      type: 'POST',
      contentType: 'application/json',
      data: JSON.stringify(usuario),
      success: function(data) {
        alert('Longado com sucesso');
        localStorage.setItem('usuarioLogado', JSON.stringify(data));
        window.location.href = "/home";
      },

      error: function(xhr, status, error) {
        if (xhr.status === 400) {
          var errorMessage = xhr.responseText;
          alert('Erro: ' + errorMessage);
        } else {
          alert('Erro: ' + error);
        }
        console.error('Erro:', error);
      }
    });
  });
});

// Adicione um evento de clique ao botão "Voltar" para redirecionar para a tela inicial
    document.getElementById("btnVoltar").addEventListener("click", function() {
        window.location.href = "http://localhost:8080/home";
});
</script>

</body>
</html>
